.card {
  width: 18rem;
  border: none;
  background: rgb(237, 239, 241);
}

h1 {
    margin-bottom: 0;
}

.navbar-toggler {
    border: 0;
}

#myModal {
  top: 30%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}